@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-breakpoint {
    @apply mx-8 md:mx-16 lg:mx-32;
  }
}


/* For Large Screens */
@media (min-width: 3000px) {
  .common-breakpoint {
    margin:auto;
    width: 60%;
  }
}

/* Icon Hover */
.svg-icon{
  fill: #1a2333;
}
.surah-card:hover .svg-icon{
  fill: #edf0f0;
  transform: rotate(90deg);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}